<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".IssueApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="false"
        android:label="ISSUE"
        android:icon="@drawable/issue_icon_source"
        android:roundIcon="@drawable/issue_icon_source"
        android:supportsRtl="true"
        android:theme="@style/Theme.ISSUE">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.ISSUE.Splash"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".ControlCenterActivity"
            android:exported="false" />

        <activity
            android:name=".ParentRemoteControlsActivity"
            android:exported="false" />

        <service
            android:name=".IssueSupervisionService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <service
            android:name=".IssueLocationService"
            android:exported="false"
            android:foregroundServiceType="location" />

        <receiver
            android:name=".IssueDeviceAdminReceiver"
            android:description="@string/app_name"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/issue_device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>

        </receiver>

        <receiver
            android:name=".IssueBootReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

        </receiver>

    </application>

</manifest>
